@model LabTask_3.Models.Database.Newdatabas
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/News/Edit" method="POST">

    <input type="hidden" name="Id" value="@Model.Id" placeholder="Id" class="form-control" />
    <input type="text" name="Title" value="@Model.Title" placeholder="Title" class="form-control" />
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    <input type="text" name="Description" value="@Model.Description" placeholder="Description" class="form-control" />
    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    <input type="text" name="Category" value="@Model.Category" placeholder="Category" class="form-control" />
    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
    <input type="text" name="PublishDate" value="@Model.PublishDate" placeholder="Publication Date" class="form-control" />
    @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
    <input type="submit" value="Submit" />

</form>
